@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(166deg, rgba(96,22,157,1) 11%, rgba(48,97,214,1) 100%);
}
/* SEARCH UI STYLING */
.search-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: Righteous, sans-serif;
  font-size: 120px;
  background: linear-gradient(166deg, rgb(212, 50, 158) 11%, rgb(65, 175, 202) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.search {
  font-size: 25px;
  color: whitesmoke;
  outline: none;
  width: 550px;
  padding: 20px;
  border-radius: 50px;
  background: linear-gradient(166deg, rgb(92, 42, 75) 11%, rgb(163, 58, 196) 100%);
  border: solid rgb(255, 255, 255);
}

.button {
  text-align: center;
  font-family: Righteous, sans-serif;
  font-size: 20px;
  padding: 10px;
  margin-top: 20px;
  background: linear-gradient(166deg, rgb(92, 42, 75) 11%, rgb(163, 58, 196) 100%);
  border: solid rgb(255, 255, 255);
  transition: 0.4s ease;
}

.button:hover {
  cursor: pointer;
  transform: scale(0.95);
}

/* RESULT UI STYLING */
.showResult {
  background: linear-gradient(166deg, rgb(92, 42, 75) 11%, rgb(163, 58, 196) 100%);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result {
  padding: 25px;
  margin-top: 80px;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: radial-gradient(at left top, #2E9AC9, #6F1C80);
  color: aliceblue;
  border-radius: 20px;
}

h2 {
  font-size: 35px;
}

img {
  width: 35%;
  border-radius: 10px;
}

.movieInfo {
  display: flex;
}

.return-button {
  background-color: #3190cf;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 30px;
}

.return-button:hover {
  background-color: #226694;
}